
accepted
Update: Since Android Studio 1.0, new projects are created with this gitignore file:

google_maps_api.xml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
local.properties
